@media only screen and (max-width:600px) {
    .nav-content {
        overflow: hidden;
        position: fixed;
        bottom:  0 ;
        width: 100%;
        background-color : #263238;
        
    }
    .btnIndex {

    width : 45%;
    
    }

}

body {
    background-color: #121212;
    height : 100%;
}

.nav-content {

    background-color : #263238;
}

.center  {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -70%);

  }

.centerimg{
    max-width: 100%;
}

.bottom_flex {

    bottom: 5%;
    position: fixed;
    width : 100%;
    display : flex;
    justify-content : space-evenly;

}

.btnIndex {


    font-size : 13px;
    font-weight: bold;
    letter-spacing: 0px;
    
    }

.btnplein:hover {

    background-color: #f9aa33d3;
    letter-spacing: 0px;

    }

.btnvide:hover {

    background-color: #25241f;
    letter-spacing: 0px;

    }

.btnvide {
    background-color: #121212;
    color : #F9AA33;
    border : solid #F9AA33;
    line-height: 32px;
    border-width: 0.5px;
    
}

.btnplein {
    background-color: #F9AA33;
    color : #121212;

}

.center {
    color :  #F9AA33;
}

h1, h2, h3, h4 {
    color: rgb(255, 255, 255, 0.8);
}

.bottom_flex2 {

    bottom: 10%;
    position: fixed;
    width : 100%;
    display : flex;
    justify-content : space-evenly;

}