<%- include('../template/head')-%>
<%- include('../template/nav')-%>
<div class="content">
<div class="row">

            <form class="col s10 push-s1" id="regForm" action="http://localhost:3000/api/tournament/addTournament" method="POST">


<!-- One "tabu" for each step in the form: -->
<div class="tabu">
    <div class="row"></div>
    <div class="row">
        <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate">
            <label for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input  name="address.address" id="address.address" type="text" class="validate">
            <label for="address.address">Address</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s7">
            <input  name="address.city" id="address.city" type="text" class="validate">
            <label for="address.city">City</label>
        </div>

        <div class="input-field col s4">
            <input  name="address.code" id="address.code" type="number" class="validate">
            <label for="address.code">ZIP code</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input name="date" type="text" class="datepicker">
            <label for="date">Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input name="time" type="text" class="timepicker">
            <label for="time">Time</label>
        </div>
    </div>
</div>





<div class="tabu">
    <div class="row"></div>
    <div class="row">
        <div class="input-field col s12">
            <input name="numberOfTeam" id="numberOfTeam" type="number" class="validate">
            <label for="numberOfTeam">Number of team</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="numberOfGroup" id="numberOfGroup" type="text" class="validate">
            <label for="numberOfGroup">Number of group</label>
        </div>

        <div class="input-field col s6">
            <input name="numberOfTour" id="numberOfTour" type="text" class="validate">
            <label for="numberOfTour">Number of tour</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4">
            <input name="numberOfPoint" id="numberOfPoint" type="text" class="validate">
            <label for="numberOfPoint">Number of point</label>
        </div>

        <div class="input-field col s4">
            <input name="timeOfMatch" id="timeOfMatch" type="text" class="validate">
            <label for="timeOfMatch">Time of match</label>
        </div>

        <div class="input-field col s4">
            <input name="timeBetweenMatch" id="timeBetweenMatch" type="text" class="validate">
            <label for="timeBetweenMatch">Time between match</label>
        </div>
    </div>

</div>




<div class="tabu">
    
    <h4>Team's name</h4>
    <div class="row"></div>
</div>




<div class="center-align">
    <div class="row center-align">
        <div class="col s4">
        <button type="button" class="waves-effect waves-light btn btnplein"id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        </div>
        <div class="col s4">
        <button type="button" class="waves-effect waves-light btn btnplein"id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
        <div class="col s4">
        <button type="submit" id="submit" class="waves-effect waves-light btn btnplein">Add</button>
        </div>
    </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>



</div>


        </div>
    </div>
</div>

</form>
<script type="text/javascript" src="/js/multiform.js"></script>
<%- include('../template/footer')-%>