<%- include('../template/head')-%>

<div class="row"><h4 class="col s10 push-s1">Login</h4></div>
<div class="row">
    <form class="col s10 push-s1"action="https://npprojectnahavela.herokuapp.com/api/session/login" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class= "bottom_flex3">
            <input type="submit" class="waves-effect waves-light btn btnIndex btnplein" value="Login"></div>
    </form>
</div>

<%- include('../template/footer')-%>