<%- include('../template/head')-%>

<div class="row "><h4 class="col s10 push-s1">Register</h4></div>
<div class="row">
    <form class="col s10 push-s1" action="http://localhost:3000/api/session/signup" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input name="firstname" id="firstname" type="text" class="validate">
                <label for="firstname">First Name</label>
            </div>
            <div class="input-field col s6">
                <input  name="lastname" id="lastname" type="text" class="validate">
                <label for="lastname">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="bottom_flex3 btn_register">
            <input type="submit" id="submit" class="waves-effect waves-light btn btnIndex btnplein" value="Sign Up">
        </div>
    </form>
</div>


<%- include('../template/footer')-%>