
<%- include('../template/head')-%>
<%- include('../template/nav')-%>


<a href="/info">link text</a>
<a href="/schedule">link text</a>
<a href="/now">link text</a>
<a href="/ranking">link text</a>



<%- include('../template/footer')-%>
