<%- include('../template/head')-%>

<div class= "center"><img src="/images/sporta.png" alt="Logo" class="centerimg">
    <span id="yellow">Tournament</span>

</div>
<div class= "bottom_flex">
<a onclick="window.location.href='/login'" class="waves-effect waves-light btn btnIndex btnvide">Login</a>
<a onclick="window.location.href='/register'" class="waves-effect waves-light btn btnIndex btnplein">Sign Up</a>
</div>
<%- include('../template/footer')-%>