<%- include('../template/head')-%>
<script type="text/javascript" src="/js/form.js"></script>
<link type="text/css" rel="stylesheet" href="/css/form.css"/>
<%- include('../template/navTournament')-%>


<div class="overlay-form">
    <div class="close-btn" onclick="toggleForm()">&times;</div>
    <h1>Create a new account</h1>
    <p>Join our community. Let's set up your account</p>
    <div class="form-element">
      <label for="fullname">Fullname</label>
      <input type="text" id="fullname">
    </div>
    <div class="form-element">
      <label for="email">Email</label>
      <input type="email" id="email">
    </div>
    <div class="form-element">
      <label for="password-1">Password</label>
      <input type="password" id="password-1">
    </div>
    <div class="form-element">
      <label for="password-2">Confirm password</label>
      <input type="password" id="password-2">
    </div>
    <div class="form-element">
      <button>Signup</button>
    </div>
  </div>
  <div class="center">
    <button onclick="toggleForm()">Signup</button>
  </div>


<%- include('../template/footer')-%>

