
  
  <nav class="nav-extended navbar-fixed blue-grey darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><%= menuId %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/myaccount">My account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

  </nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/myaccount">My account</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
